{% extends 'base.htm' %}
{% load static %}
{% block section1 %}

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'assets/images/bg-vdo.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>วิทยาลัยสหวิทยาการ</h6>
              <h2>ยินดีต้อนรับสู่เครือข่ายศิษย์เก่า</h2>
              <p>ระบบเครือข่ายศิษย์เก่าสำหรับนักศึกษาและบุคคลากร <a rel="nofollow" href="https://ci.tu.ac.th/" target="_blank"> วิทยาลัยสหวิทยาการ </a>.
                จัดทำขึ้นเพื่อให้ข้อมูลศิษย์เก่าเป็นปัจจุบัน เชื่อมโยงถึงกันได้และเพิ่มความสัมพันธ์ระหว่างวิทยาลัยกับศิษย์เก่า
              <div class="main-button-red">
                  <a href="/signup/">เข้าสู่ระบบศิษย์เก่า</a>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4> เครือข่ายระบบศิษย์เก่าที่ดี </h4>
                <p> มีการรวบรวมข้อมูลเพื่อเป็นเครือข่ายสำหรับศิษย์เก่าในด้านการทำงาน หรือการเชิญชวนไปทำงานฝึกงานจริง </p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4> ศิษย์เก่าดีเด่น </h4>
                <p> เก็บรวบรวมผลงานของศิษย์เก่าแต่ละคนเพื่อช่วยเก็บเป็นโปรไฟล์ให้กับศิษย์เก่า และเพื่อคัดเลือกศิษย์เก่าดีเด่นแห่งปี </p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4> แสดงผลแบบ Visualize </h4>
                <p> แสดงผลลัพธ์ข้อมูลการทำงานของศิษย์เก่าทั้งหมดเป็นรูปแบบ Dashboard เพื่อทำให้เข้าใจในข้อมูลมากยิ่งขึ้น </p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4> ระบบมีความปลอดภัย </h4>
                <p> มีการยืนยันตัวตนในขั้นตอนการสมัคร เพื่อเป็นการป้องกันความปลอดภัยคนภายนอกเข้ามาใช้ข้อมูลในระบบศิษย์เก่า </p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4> เข้าสู่ระบบอย่างรวดเร็ว </h4>
                <p> เชื่อมต่อการเข้าสู่ระบบด้วย Google Account ไม่จำเป็นต้องจำรหัสผ่าน เพียงใช้เมลและยืนยันตัวตนก็ใช้งานได้ทันที </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="footer">
        <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
    </div>
  </section>

{% endblock %}