{% extends 'base.htm' %}
{% block section1 %}
<section class="contact-us" id="signup">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">

                <form method="POST" id="bigform">
                    {% csrf_token %}
                    <input type="text" name="organization" maxlength="150" autofocus required id="id_organization" placeholder="ชื่อองค์กร">
                    
                    <select name="organizationType">
                      <option value="" disabled selected hidden> ประเภทองค์กร </option>
                      <option type="text" value="บจก"> บริษัทจำกัด </option>
                      <option type="text" value="บมจ"> บริษัทมหาชนจำกัด </option>
                      <option type="text" value="หจก"> ห้างหุ้นส่วนจำกัด </option>
                      <option type="text" value="รัฐวิสาหกิจ"> รัฐวิสาหกิจ </option>
                      <option type="text" value="ภาครัฐ"> หน่วยงานภาครัฐ </option>
                      <option type="text" value="ธุรกิจส่วนตัว"> ธุรกิจส่วนตัว </option>
                    </select>

                    <select name="department">
                      <option value="" disabled selected hidden> แผนก/ฝ่าย </option>
                      <option type="text" value="administration"> บริหาร </option>
                      <option type="text" value="finance"> การเงิน </option>
                      <option type="text" value="accounting"> บัญชี </option>
                      <option type="text" value="HR"> ฝ่ายบุคคล </option>
                      <option type="text" value="IT"> ไอที </option>
                      <option type="text" value="operations"> ออเปอเรชั่น </option>
                      <option type="text" value="manufacture"> ฝ่ายผลิต </option>
                      <option type="text" value="PR"> ประชาสัมพันธ์ </option>
                      <option type="text" value="R&D"> วิจัยและพัฒนา </option>
                      <option type="text" value="sales"> ฝ่ายขาย </option>
                      <option type="text" value="marketing"> การตลาด </option>
                    </select>

                    <input type="text" name="jobTitle" maxlength="150" id="id_jobTitle" placeholder="ตำแหน่ง">
                        
                    <textarea type="text" name="jobDesc" maxlength="255" id="id_jobDesc" placeholder="หน้าที่งาน (พอสังเขป)"></textarea>
                    
                    <button type="submit"> Save </button>
                </form>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
                <li>
                  <h6>Organization</h6>
                  <span> {{ujob.organization}} </span>
                </li>
                <br>
                <li>
                  <h6> Department </h6>
                  <span> {{ujob.department}} </span>
                </li>
                <br>
                <li>
                  <h6> Position </h6>
                  <span> {{ujob.jobTitle}} </span>
                </li>
                <br>
                <li>
                  <h6> Update Data </h6>
                  <span> <a href="/user/{{ user.id }}/"> แก้ไขโปรไฟล์ </a> </span><br>
                  <span> <a href="/fofs/{{ user.id }}/"> ประวัติการศึกษา </a> </span><br>
                  <span> <a href="/education/{{ user.id }}/"> การเรียนต่อ </a> </span><br>
                  <span> <a href="/achievement/{{ user.id }}/"> ผลงานที่เคยทำ </a> </span>
                </li>

              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
    </div>
</section>
{% endblock %}