{% extends 'base.htm' %}
{% block section1 %}
<section class="contact-us" id="signup">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">

                <form method="POST" id="bigform">
                    {% csrf_token %}
                    <input type="text" name="username" value="{{ user.username }}" maxlength="30" autofocus required id="id_username" placeholder="Username">
                        
                    <input type="text" name="first_name" value="{{ user.first_name }}" maxlength="150" id="id_first_name" placeholder="Firstname">
                        
                    <input type="text" name="last_name" value="{{ user.last_name }}" maxlength="150" id="id_last_name" placeholder="Lastname">
                            
                    <input type="email" name="email" value="{{ user.email }}" maxlength="254" required id="id_email" placeholder="Email Address">

                    <!-- <select name="role">
                        <option value="" disabled selected hidden> ระบุ Role ของท่าน </option>
                        <option type="text" value="alumni"> ศิษย์เก่า </option>
                        <option type="text" value="admin"> เจ้าหน้าที่ฝ่ายการนักศึกษา </option>
                        <option type="text" value="assistant_dean"> รองคณบดีฝ่ายการนักศึกษา </option>
                     </select> -->
                    
                    <button type="submit">Save Changes</button>
                </form>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
                <li>
                  <h6>Welcome</h6>
                  <span> {{user.username}} </span>
                </li>
                <br>
                <li>
                  <h6> Fullname </h6>
                  <span> {{user.first_name}} {{user.last_name}} </span>
                </li>
                <br>
                <li>
                  <h6> Role </h6>
                  <span> {{profile.role}} </span>
                </li>
                {% if profile.role == "alumni" %}
                <br>
                <li>
                  <h6> Update Data </h6>
                  <span> <a href="/fofs/{{ user.id }}/"> ประวัติการศึกษา </a> </span><br>
                  <span> <a href="/job/{{ user.id }}/"> ประวัติการทำงาน </a> </span><br>
                  <span> <a href="/education/{{ user.id }}/"> การเรียนต่อ </a> </span><br>
                  <span> <a href="/achievement/{{ user.id }}/"> ผลงานที่เคยทำ </a> </span>
                </li>
                {% endif %}

              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
    </div>
</section>
{% endblock %}